{# templates/vehicle/rechercher_vehicule.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Rechercher un véhicule{% endblock %}


{% block body %}
    <h1>Rechercher un véhicule</h1>

    <div >
        <form action="{{ path('rechercher_vehicule') }}" method="get">
            <label for="id">ID :</label>
            <input type="text" id="id" name="id">
            <br>
            <label for="licence_plate">Plaque d'immatriculation :</label>
            <input type="text" id="licence_plate" name="licence_plate">
            <br>
            <div>
                <label for="km">Kilomètres :</label>
                <input type="number" id="km" name="km_value" min=0 max=999999>
                <button type="submit">Rechercher</button>
            </div>
            <div>
                <input type="radio" id="plus" value="plus" name="km" checked="true">
                <label for="plus">Plus de</label>
                <input type="radio" id="moins" value="moins" name="km">
                <label for="moins">Moins de</label>
            </div>
        </form>
    </div>

    {% if results is not empty %}
        <h2>Liste des véhicules</h2>
        {% if successMessage is defined %}
            <div class="alert alert-success">
                {{ successMessage }}
            </div>
        {% endif %}
        <table class="table">
            <thead>
                <tr>
                    <th scope="row">ID</th>
                    <th scope="row">PLAQUE</th>
                    <th scope="row">INFORMATIONS</th>
                    <th scope="row">KILOMÉTRAGE</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for vehicle in results %}
                <tr>
                    <td>{{ vehicle.getId() }}</td> 
                    <td>{{ vehicle.getLicencePlate() }}</td>
                    <td>{{ vehicle.getInformations() }}</td>
                    <td>{{ vehicle.getKm() }} km</td>
                    <td><button><a href="{{ path('modifier_vehicule', {'licencePlate': vehicle.getLicencePlate()}) }}">Modifier</a></button></td>
                    <td><button><a href="{{ path('supprimer_vehicule', {'licencePlate': vehicle.getLicencePlate()}) }}" >Supprimer</a></button></td>

                </tr>
                {% endfor %}
                <tr>
                    <th colspan="6" class="text-center">TOTAL : {{ results|length }} </th>
                </tr>
            </tbody>            
        </table>    
    {% else %}
        <p>Aucun résultat trouvé.</p>
    {% endif %}
{% endblock %}
